.global_color-one {
    background: #41355a;
}

.global_color-two {
    background: #8e5a9f;
}

.global_color-three {
    background: #825975;
}

.global_color-four {
    background: #41355A;
}

body {
    font-family: "Open Sans";
}


/*header chunk*/

.header {}

.header__top-bg {
    background: #41355A;
    color: #fff;
    font-size: 12px;
    line-height: 2.8;
}

.header__container {}

.header__row {}

.header__address {}

.header__tel {}

.header__tel a {
    color: #fff;
}

.header__logo {
    margin-top: 24px;
}

.header__logo-item {
    max-width: 100%;
    height: auto;
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar-collapse {
    border: none;
}

.navbar-collapse a {
    font-size: 14px;
    font-weight: 600;
}

.navbar-collapse__active {
    border-bottom: 3px solid #41355a;
}


/*mainpage*/

.slider {
    padding-top: 3px;
}

.slider >h3 {
    display: none;
}

.slider__owl-carousel {}

.slider__item {}

.slider__img {
    width: 100%;
    height: auto;
}

.slider__item-title {
    font-size: 22px;
    color: #ffffff;
    line-height: 3.308;
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 40%;
    text-shadow: 0.5px 0.866px 1px rgba(57, 57, 57, 0.47);
}

.slider__item-small {
    padding-top: 15px;
    font-size: 44px;
    color: #ffffff;
    line-height: 1.1;
    text-shadow: 0.5px 0.866px 1px rgba(57, 57, 57, 0.47);
}

.txt-three-cols {}

.txt-three-cols > h2 {
    display: none;
}

.txt-three-cols__row {}

.txt-three-cols__column {
    padding: 30px 0 8px 0;
}

.txt-three-cols__content {
    position: relative;
    padding-left: 66px;
}

.txt-three-cols__fa {
    position: absolute;
    width: 40px;
    text-align: center;
    left: 10px;
    top: 6px;
    font-size: 37px;
    color: #6a488e;
    line-height: 1;
}

.txt-three-cols__fa.fa-envelope-o {
    font-size: 30px;
}

.txt-three-cols__fa.fa-map-marker {
    font-size: 33px;
}

.txt-three-cols__heading {
    font-size: 14px;
    color: #7f7f7f;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 5px;
}

.txt-three-cols__txt,
.txt-three-cols__txt a {
    font-size: 19px;
    color: #1f1f1f;
    line-height: 1.053;
}

.txt-three-cols__txt_map-address {
    max-width: 280px;
    font-size: 16px;
}

.footer__address {
    max-width: 210px;
}

.colored-three-cols {}

.colored-three-cols > h2 {
    display: none;
}

.colored-three-cols__row {
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.colored-three-cols__column {
    flex: 1;
    padding: 0;
}

.colored-three-cols__content {
    padding: 40px;
    color: #fff;
}

.colored-three-cols__header {
    font-size: 24px;
    line-height: 1.4;
    padding-bottom: 20px;
}

.colored-three-cols__text {
    font-size: 13px;
    line-height: 1.538;
    padding-bottom: 30px;
}

.colored-three-cols__button {
    font-size: 13px;
    color: #ffffff;
    line-height: 1.538;
    display: inline-block;
    cursor: pointer;
    padding: 8px 19px;
    border: 1px solid #b3aebd;
    transition: 0.3s;
}

.colored-three-cols__button:hover,
.colored-three-cols__button:focus,
.colored-three-cols__button:active {
    color: #b3aebd;
    border: 1px solid #dbdbdb;
    transition: 0.3s;
    text-decoration: none;
}

.txt-four-cols {}

.txt-four-cols > h2 {
    display: none;
}

.txt-four-cols__row {
    display: flex;
    flex-wrap: wrap;
}

.txt-four-cols__column {
    display: flex;
    flex-direction: column;
}

.txt-four-cols__content {
    padding: 30px 0;
    margin-top: 40px;
}

.txt-four-cols__content .fa {
    transition: 0.3s;
}

.txt-four-cols__content:hover {
    padding: 27px 0;
    border-top: 3px solid #eaeaea;
    border-bottom: 3px solid #eaeaea;
}

.txt-four-cols__content:hover .fa {
    color: #8e5a9f;
    transition: 0.3s;
}

.txt-four-cols__content .fa {
    font-size: 55px;
    color: #41355a;
    line-height: 1;
}

.txt-four-cols__heading {
    font-size: 24px;
    color: #1f1f1f;
    line-height: 1.4;
    margin: 15px 0;
}

.txt-four-cols__txt {
    font-size: 13px;
    color: #6f6f6f;
    line-height: 1.538;
}

.services-horizontal {
    padding-bottom: 60px;
}

.services-horizontal > h2 {
    font-size: 24px;
    color: #1f1f1f;
    line-height: 1.4;
}

.services-horizontal__row {
    margin: 0;
}

.services-horizontal__column {
    padding: 0;
}

.services-horizontal__content {}

.services-horizontal__link {
    color: #fff;
    text-decoration: none;
    position: relative;
    background: #000;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 265px;
}

.services-horizontal__link span {
    border: 2px solid #fff;
    padding: 10px 16px;
    display: block;
    position: absolute;
    top: 30%;
    left: 20px;
    right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    transition: 0.3s;
}

.services-horizontal__link:hover span {
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
}

.services-horizontal__img {
    width: 100%;
    height: auto;
    opacity: 0.4;
    transition: 0.3s;
}

.services-horizontal__link:hover .services-horizontal__img {
    width: 120%;
    height: auto;
    opacity: 0.8;
    transition: 0.3s;
    margin-top: -10%;
    margin-left: -10%;
}


/*content page*/

.content__container {}

.content__row {}

.content__column {
    margin-bottom: 50px;
}

.aside-section {
    padding: 37px 27px;
    color: #fff;
}

.aside-section a {
    color: #fff;
}

.aside-section > h2 {
    margin: 0 0 34px 0;
}

.aside-section__heading {
    font-size: 18px;
    color: #ffffff;
    /*    margin-bottom: 60px;*/
}

.aside-section__listing {}

.content__main {}

.content__article {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.content__article h1 {
    font-size: 24px;
    color: #41355a;
    line-height: 1.3;
    margin-top: 0;
}

.content__article h2 {
    font-size: 20px;
    color: #41355a;
    line-height: 1.3;
    margin-top: 0;
    margin-top: 10px;
}

.content__article h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #41355a;
    line-height: 1.3;
    margin-top: 10px;
}

.content__bigimg {
    width: 100%;
    height: auto;
}

.content__padding img {
    padding: 10px;
}

.content__article a:hover {
    text-decoration: none;
    position: relative;
}

.content__article a:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #41355a;
    animation: line-trought;
    animation-duration: 0.3s;
}

@keyframes line-trought {
    0% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}

.content__article a:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #41355a;
    animation: line-trought;
    animation-duration: 0.3s;
}


/*footer*/

.footer {
    background: #211326;
    padding: 30px 0;
    color: #fff;
    font-size: 13px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.footer__container {}

.footer__row {}

.footer__column {}

.footer__content-wrapper {}

.footer__header {
    font-size: 16px;
    line-height: 1.4;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.footer__header::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50px;
    background: #41355a;
    bottom: 0px;
    left: 0px;
}

.footer__content {
    margin-top: 20px;
}

.footer__content .forms.submited .message {
    position: relative;
    background: #211326;
    color: #fff;
    text-align: right;
}

.footer__content .forms.submited .message i {
    text-align: center;
    border: 1px solid #6d6570;
}

.footer__content input,
.footer__content textarea {
    background: #211326 !important;
    color: #dfdfdf !important;
    border: 1px solid #6d6570 !important;
    padding: 7px 10px !important;
    transition: 0.3s;
}

.footer__content input:focus,
.footer__content textarea:focus {
    border: 1px solid #514a53 !important;
    /*    padding: 6px 10px !important;*/
    /*    transition: 0.3s;*/
}

.footer__content p {
    position: relative;
    padding-left: 25px;
}

.footer__content .fa {
    width: 15px;
    text-align: left;
    position: absolute;
    left: 0px;
    top: 3px;
}

.footer__listing {
    margin: 0;
    padding: 0;
}

.footer__content .footer__listing li {
    width: 45%;
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
    transition: 0.3s;
}

.footer__listing li {
    padding-left: 13px;
    position: relative;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    list-style: none;
    margin-bottom: 7px;
}

.footer__listing li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 3px;
    height: 3px;
    background: #8e5a9f;
    transition: 0.3s;
}

.footer__content .footer__listing li:hover {
    padding-left: 23px;
    opacity: 0.8;
    transition: 0.3s;
}

.footer__listing li:hover::before {
    display: none;
    transition: 0.3s;
}

.footer__listing ul:not(:first-child) {
    padding-top: 7px;
}

.breadcrumbs {
    background: url("../img/breadcrumb-bg.jpg") no-repeat;
    background-size: cover;
    font-size: 12px;
    padding: 40px 0;
    /*    margin-top: 18px;*/
    margin-bottom: 70px;
}

.breadcrumbs_margin_none {
    margin-bottom: 0;
}

.breadcrumbs > h2 {
    display: none;
}

.breadcrumbs {
    color: #92a1c2;
}

.breadcrumbs a {
    color: #fff;
    text-decoration: underline;
}

.breadcrumbs__list {
    padding: 0;
    margin: 0;
}

.aside-section__listing {
    margin: 0;
    padding: 0;
}

.aside-section__listing li {
    padding-left: 13px;
    position: relative;
    border-bottom: 1px solid #675d7b;
    padding-bottom: 8px;
    list-style: none;
    margin-bottom: 7px;
}

.aside-section__listing li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 3px;
    height: 3px;
    background: #8e5a9f;
}

.aside-section__listing ul:not(:first-child) {
    padding-top: 7px;
}

.aside-section_contacts p:nth-child(2) {
    width: 180px;
}

.aside-section_contacts .fa {
    position: absolute;
    left: 0;
    top: 2px;
}

.aside-section_contacts p {
    position: relative;
    padding-left: 25px;
}

.news-block {
    /*    display: flex;*/
    padding: 30px 0;
}

.news-block__item {
    /*    flex: 1;*/
}

.news-block__content {}

.news-block__image {
    height: 200px;
    overflow: hidden;
    border: 1px solid #eaeaea;
    transition: 0.3s;
}

.news-block__image img {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.news-block__header {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
    height: 80px;
    font-weight: 600;
}

.news-block__header a {
    color: #41355a;
}

.news-block__header a::before,
.news-block__header a::after {
    display: none;
}

.panel-title a::before,
.panel-title a::after {
    display: none;
}

.panel-title a,
.panel-title a:hover {
    text-decoration: none;
}

.news-block__content:hover .news-block__image img {
    opacity: 0.8;
}

.news-block__content:hover .news-block__image {
    border: 1px solid #41355a;
}

.news-block__content:hover .news-block__header a {
    text-decoration: underline;
}

.gmap {
    height: 200px;
    margin-bottom: 40px;
}

.navbar-nav li a:hover {
    position: relative;
}

.navbar-nav li a:hover::before {
    content: '';
    position: absolute;
    z-index: 100;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 3px;
    background: #ddd;
    animation: line-trought;
    animation-duration: 0.3s;
}

.navbar-collapse__active a:hover::before {
    display: none;
}


/* Lorem ipsum dolor.*/


/*FancyBox Hover Effect*/

.zoomer:hover .overlay-zoom .zoom-icon {
    opacity: 0.3;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: alpha(opacity=50);
}

.overlay-zoom {
    z-index: 90;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.overlay-zoom .zoom-icon {
    top: 0;
    opacity: 0;
    z-index: 100;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #000;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("../img/overlay-icon.png");
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

@media (max-width: 768px) {
    .fancybox-overlay {
        background: none !important;
    }
}


/* /FancyBox Hover Effect*/

.gallery__item {
    margin-bottom: 40px;
}

.panel {
    border-radius: 0;
}

.leadblock > h2 {
    display: none;
}

.leadblock__space {
/*    padding-top: 36px;*/
}

.leadblock__header {}

.leadblock__content {
    font-size: 12px;
    border-bottom: 1px solid #41355a;
    padding-bottom: 10px;
}

.leadblock__silogo {
    float: left;
    margin-right: 20px;
    width: 170px;
    border: 1px solid #eaeaea;
    padding: 15px;
}

.doctors-block {}

.doctors-block__item {}

.doctors-block__content {}

.doctors-block__image img {
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;
}

.doctors-block__title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}

.doctors-block__longtitle {
    color: #41355a;
    font-size: 14px;
    padding-bottom: 15px;
    text-align: center;
}

.developed-by {
    padding-top: 30px;
    font-size: 12px;
    opacity: 0.7;
}

.developed-by:hover {
    opacity: 1;
}

.developed-by a {
    color: #6d6570;
    transition: 0.3s;
}

.developed-by span {
    display: block;
    padding-bottom: 10px;
}