[[$header]]

<section class="breadcrumbs">
    <h2>Путь до текущей страницы</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 breadcrumbs__content">
                [[breadcrumb? &containerTpl=`@INLINE <ol class="breadcrumbs__list breadcrumb" id="breadcrumb" itemprop="breadcrumb">
                    [[+crumbs]]
                </ol>
                `]]
            </div>
        </div>
    </div>
</section>

<div class="content__container container">
    <div class="content__row row">
[[$aside]]

        <main class="content__main col-sm-8">
            <article class="content__article content__padding">
                <h1 class="">[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1> [[*content]]
            </article>
        </main>
    </div>
</div>

[[$footer]]