[[$header]]

[[*isfolder:is==`0`:then=`

<section class="breadcrumbs">
    <h2>Путь до текущей страницы</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 breadcrumbs__content">[[breadcrumb? &containerTpl=`@INLINE <ol class="breadcrumbs__list breadcrumb" id="breadcrumb" itemprop="breadcrumb">
                    [[+crumbs]]
                </ol>
                `]]
            </div>
        </div>
    </div>
</section>

<div class="content__container container">
    <div class="content__row row">
        [[$aside]]

        <main class="content__main col-sm-8">
            <article class="content__article content__padding clearfix">
                <h1 class="">[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1> [[*content]]            
            </article>
        </main>
    </div>
</div>


`:else=`
<section class="breadcrumbs">
    <h2>Путь до текущей страницы</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 breadcrumbs__content">[[breadcrumb? &containerTpl=`@INLINE <ol class="breadcrumbs__list breadcrumb" id="breadcrumb" itemprop="breadcrumb">
                    [[+crumbs]]
                </ol>
                `]]
            </div>
        </div>
    </div>
</section>

<div class="content__container container">
    <div class="content__row row">
        [[$aside]]

        <main class="content__main col-sm-8">
            <article class="content__article">
                <h1 class="">[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1> [[*content]]
                <div class="news-block row">

                    [[pdoResources? &tpl=`@INLINE

                    <div class="news-block__item col-xs-6 col-sm-4"> 
                        <div class="news-block__content">
                            <div class="news-block__image">
                                <a href="[[+uri]]"><img src="[[+tv.pic-universe]]" alt="" class="img-responsive"></a>
                            </div>
                            <div class="news-block__header">
                                <a href="[[+uri]]">[[+pagetitle]]</a>
                            </div> 
                        </div>
                    </div>

                    ` &limit=`90` &includeContent=`1` &includeTVs=`pic-universe` &hideContainers=`1` &processTVs=`1` &parents=`[[*id]]` &sortby=`menuindex` &sortdir=`DESC` ]]
                    
                </div>
            </article>
        </main>
    </div>
</div>

`]]
[[$footer]]