[[$header]] [[*isfolder:is==`0`:then=`
<section class="breadcrumbs">
    <h2>Путь до текущей страницы</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 breadcrumbs__content">
                [[breadcrumb? &containerTpl=`@INLINE <ol class="breadcrumbs__list breadcrumb" id="breadcrumb" itemprop="breadcrumb">
                    [[+crumbs]]
                </ol>
                `]]
            </div>
        </div>
    </div>
</section>

<div class="content__container container">
    <div class="content__row row">
        [[$aside]]

        <main class="content__main col-sm-8">
            <article class="content__article content__padding">
                <h1 class="">[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1> 
                [[*content]]
            </article>
        </main>
    </div>
</div>



`:else=`


<section class="breadcrumbs breadcrumbs_margin_none">
    <h2>Путь до текущей страницы</h2>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 breadcrumbs__content">
                [[breadcrumb? &containerTpl=`@INLINE <ol class="breadcrumbs__list breadcrumb" id="breadcrumb" itemprop="breadcrumb">
                    [[+crumbs]]
                </ol>
                `]]
            </div>
        </div>
    </div>
</section>

<section class="services-horizontal container">
    <h1>[[*longtitle:notempty=`[[*longtitle]]`:isempty=`[[*pagetitle]]`]]</h1>
    <div class="services-horizontal__row row">
        [[pdoResources? &tpl=`@INLINE
        <div class="services-horizontal__column [[+tv.expand:isnotempty=`col-lg-6`]] [[+tv.expand:isempty=`col-lg-3`]] col-md-4 col-sm-6 col-xs-12">
            <div class="services-horizontal__content">
                <a class="services-horizontal__link" href="[[+uri]]">
                    <img src="[[+tv.pic-universe]]" alt="" class="services-horizontal__img">
                    <span>[[+pagetitle]]</span>
                </a>
            </div>
        </div>
        <!-- services-horizontal__column-->
        ` &limit=`999` &includeContent=`1` &includeTVs=`pic-universe,expand` &processTVs=`1` &parents=`202` &depth=`1` &sortby=`menuindex` &sortdir=`DESC`]]
    </div>
</section>





`]] [[$footer]]