<aside class="content__column col-sm-4 hidden-xs">
    [[*id:isnot=`202`:then=`
    <section class="aside-section aside-section_services global_color-one">
        <h2 class="aside-section__heading">Наши услуги</h2> [[Wayfinder? &startId=`202` &level=`1` &outerClass=`aside-section__listing` &hereClass=`footer__listing-item_active` ]]
    </section>
    <!-- aside-section-->
    `]] [[*id:isnot=`138`:then=`
    <section class="aside-section aside-section_worktime global_color-two hidden-xs">
        <h2 class="aside-section__heading">Режим работы</h2> [[getResourceField? &id=`138` &field=`introtext`]]
    </section>
    <!-- aside-section-->

    <section class="aside-section aside-section_contacts global_color-three">
        <h2 class="aside-section__heading">Контакты</h2>

        <p><span class="fa  fa-map-marker"></span>[[getResourceField? &id=`138` &field=`contacts-address` &processTV=`1`]]
        </p>
        <p><span class="fa fa-envelope-o"></span>
            <a href="mailto:info@imedcity.ru">[[getResourceField? &id=`138` &field=`contacts-email` &processTV=`1`]] </a>
        </p>
        <p><span class="fa  fa-mobile"></span>
            <a href="tel:[[getResourceField? &id=`138` &field=`contacts-tel` &processTV=`1`]]">[[getResourceField? &id=`138` &field=`contacts-tel` &processTV=`1`]]</a>
        </p>
    </section>
    <!-- aside-section-->
    `]]
</aside>