<li class="cbp-item">

                                <a href="[[+uri]]" class="cbp-caption" data-title="[[+pagetitle]]">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="[[+tv.pic-universe:phpthumbof=`w=416&h=280&zc=1`]]" alt="" width="100">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignLeft">
                                            <div class="cbp-l-caption-body">
                                                <div class="cbp-l-caption-title">[[+pagetitle]]</div>
                                                <div class="cbp-l-caption-desc">[[+longtitle]]</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>